@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

.background-image img {
  position: absolute;
  top: 0;
  width: 100%;
}

.background-background {
  z-index: -1;
  filter: brightness(1);
  animation: lightning 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}
.background-foreground {
  z-index: 2;
  filter: brightness(1);
  animation: lightning 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

.title-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

#title {
  position: absolute;
  font-size: 10vw;
  left: 50%;
  top: 39vw;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: textfade 2.5s ease-in-out 1s forwards;
}

@keyframes textfade {
  0% {
    opacity: 0;
    transform: translate(-50%, -25%) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes lightning {
  0% {
  }
  69% {
    filter: brightness(1);
  }
  70% {
    filter: brightness(1.6);
  }
  89% {
    filter: brightness(1);
  }
  90% {
    filter: brightness(1.4);
  }
  100% {
  }
}

@keyframes scaleBackground {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.rain-video {
  position: absolute;
  mix-blend-mode: screen;
  top: 46.3vw;
  z-index: 3;
  width: 100%;
  -webkit-mask: url(/Images/arrow-down-white.svg);
  /* -webkit-mask: url(#title); */
  mask: url(/Images/arrow-down-white.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: top center;
  -webkit-mask-position: top center;
  mask-border: solid black 5px;
  -webkit-mask-border: solid black 5px;
  opacity: 1;
  pointer-events: none;
}

.arrow-down {
  position: absolute;
  top: 50vw;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  stroke: black;
  stroke-width: 10;
  fill: black;
  opacity: 8%;
  backdrop-filter: blur(5px);
}

#shop {
  width: 100%;
  height: 250px;
  z-index: 4;
  background-color: white;
}
